.body {
   background: #2c3e50;
}
  /* Loading Screen Styles */
  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease-out;
}

    .loading-content {
        text-align: center;
    }

    .loading-text {
        color: white;
        font-family: "Courier New", monospace;
        font-size: 20px;
        margin-bottom: 20px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid white;
        animation: typing 3s steps(10) infinite,
                blink 0.5s step-end infinite alternate;
        width: 0;
        margin: 20px auto;
        width: fit-content;
    }

    .loading-image {
        width: 150px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    @keyframes typing {
        0% { width: 0; }
        50% { width: 110px; }
        100% { width: 0; }
    }

    @keyframes blink {
        50% { border-color: transparent; }
    }

    .hide {
        opacity: 0;
        pointer-events: none;
    }

   
    /*Timelane */
    #typing-container {
        font-size: 2rem;
        color: #333;
    }
    #static-text {
        color: #000;
        font-weight: bold;
    }
    #dynamic-text {
        color: #0066cc;
    }
    .cursor {
        animation: blink 0.7s infinite;
        display: inline-block;
    }
    @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
    }

    .btn1 {
        border-radius: 25%;
    }

// font 
.big-shoulders-stencil-font {
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }